################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.~vsdx
.vs/
__pycache__/
/naruto 2.zip
*.zip
